
@font-face {
  font-family: "sq-icon";
  src: url('iconfont.ttf?t=1532501127929') format('truetype');
}

.sq-icon {
  font-family:"sq-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sq-icon-shanchu:before { content: "\e600"; }

.sq-icon-error-gap:before { content: "\e605"; }

.sq-icon-circle-left:before { content: "\e60a"; }

.sq-icon-circle-up:before { content: "\e611"; }

.sq-icon-checkmark-empty:before { content: "\e610"; }

.sq-icon-jia:before { content: "\e641"; }

.sq-icon-jian:before { content: "\e643"; }

.sq-icon-alert-empty:before { content: "\e606"; }

.sq-icon-keyboard-xiangxia:before { content: "\e609"; }

.sq-icon-yuandian:before { content: "\e82f"; }

.sq-icon-circle-down:before { content: "\e612"; }

.sq-icon-circle-right:before { content: "\e614"; }

.sq-icon-yuandianxiao:before { content: "\e630"; }

.sq-icon-alert-full:before { content: "\e685"; }

.sq-icon-error-empty:before { content: "\e616"; }

.sq-icon-checkmark-full:before { content: "\e69e"; }

.sq-icon-aixin:before { content: "\e63e"; }

.sq-icon-checkmark:before { content: "\e624"; }

.sq-icon-loading:before { content: "\e633"; }

.sq-icon-keyboard-down:before { content: "\e6fb"; }

.sq-icon-error:before { content: "\e632"; }

.sq-icon-error-full:before { content: "\e68c"; }

.sq-icon-arrow-left:before { content: "\e6fd"; }

.sq-icon-alert:before { content: "\e8ee"; }

.sq-icon-weep:before { content: "\e603"; }

.sq-icon-keyboard-remove:before { content: "\e627"; }

.sq-icon-flower:before { content: "\e7c3"; }

.sq-icon-pentagram:before { content: "\e601"; }

.sq-icon-emoji:before { content: "\e604"; }

.sq-icon-keyboard-xiangshang:before { content: "\e649"; }

.sq-icon-keyboard-delete:before { content: "\e64a"; }

.sq-icon-arrow-up:before { content: "\e8ef"; }

.sq-icon-arrow-right:before { content: "\e8f0"; }

.sq-icon-arrow-down:before { content: "\e8f1"; }

