@import './mixins';
@import './variables';
@import './normalize';
@import './animation';
@import '../icon/iconfont.css';

.sq-icon {
  line-height: 1;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 14px;
}
.sq-1px-top {
  @include mix-1px($top: 1);
}
.sq-1px-bottom {
  @include mix-1px($bottom: 1);
}