@import './variable';
@import './normalize';
@import './animation';
@import '../icon/iconfont.css';

.sq-icon {
  line-height: 1;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 14px;
}
