#chooseCar {
    width: 100%;
    height: 100%;
    background: #fff;
    .chooseCar-first-title {
        height: 80px;
        line-height: 80px;
        padding-left: 15px;
        font-size: 18px;
        letter-spacing: 2px;
        border-bottom-color: #eeeeee;
        border-bottom-style: solid;
        img.detail-icon {
            width: 35px;
            vertical-align: middle;
            padding-right: 3px;
            margin-bottom: 4px;
        }
    }
    .chooseCar-wrapper {
        .chooseCar-list {
            >ul {
                .chooseCar-item {
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    padding-left: 15px;
                    word-break:break-all;
                }
            }
        }
        .chooseCar-second-title {
            height: 40px;
            line-height: 40px;
            background: #F5F5F5;
            padding-left: 15px;
            color: #9A9A9A;
            font-weight: 400;
        }
        .car-list-item {
            position: relative;
            // height: 44px;
            // line-height: 44px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 15px;
            box-sizing: border-box; // border-bottom: 1px solid #E8E8E8;
            border-bottom-color: #eeeeee;
            border-bottom-style: solid;
            &.checked {
                color: #007EFF;
            }
            .checked {
                // display: none;
                position: absolute;
                top: 0;
                right: 15px;
                color: #007EFF;
                display: inline-block;
                height: 44px;
                line-height: 44px;
                text-align: right;
                font-size: 16px;
            }
        }
    }
    .footer {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        .line-left {
            width: 22%;
            background: #ccc;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 320px) {
    #chooseCar {
        .chooseCar-wrapper {
            .car-list-item {
                font-size: 12px;
            }
        }
        .footer {
            font-size: 12px;
        }
    }
}