@import './var';
.sq-btn {
  display: inline-block;
  position: relative;
  outline: 0;
  text-align: center;
  overflow: hidden;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  font-size: 14px;
  height: 48px;
  padding: 0 28px;
  line-height: 1;
  &::after {
    background-color: #000;
    content: " ";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:active::after {
    opacity: .3;
  }
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // default
  &-default {
    color: $button-default-color;
    background-color: $button-default-background-color;
  }
  // primary button
  &-primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
  }
   // ghost button
  &-ghost {
    color: $button-ghost-color;
    background-color: $button-ghost-background-color;
    border: 1px solid $button-ghost-color;
  }
  // large size
  &-large {
    width: 100%;
    font-size: 16px;
  }
  // small size
  &-small {
    height: 34px;
    line-height: 1;
    padding: 0 14px;
    font-size: 14px;
  }
  // icon
  .sq-btn-icon {
    .iconfont {
      font-size: inherit;
    }
    img {
      vertical-align: middle;
    }
    &+.sq-btn-text {
      margin-left: 4px;
    }
  }
}