@import '../../../mixins.scss';
.sq-brandCars {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 333;
  -webkit-overflow-scrolling: touch;
  &-menu-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  &-item {
    box-sizing: border-box;
    list-style: none;
  }
  &-menu-title {
    background: #F5F5F5;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  &-menu-list {
    padding: 0;
    margin: 0;
  }
  &-menu-item {
    @include mix-1px($top: 1);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-menu-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    padding-left: 15px;
  }
  &-category-img {
    width: 20px;
    vertical-align: middle;
    padding-left: 3px;
  }
  &-category-rightbar {
    position: fixed;
    top: 20px;
    right: 0px;
    width: 50px;
    text-align: right;
    z-index: 444;
  }
  &-category-rightbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-category-rightbar-item {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #007EFF;
    box-sizing: border-box;
  }
}

@media screen and (max-height: 480px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 20px;
    }
  }
}

@media screen and (min-height: 560px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 22px;
      line-height: 22px;
    }
  }
}

@media screen and (min-height: 640px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 27px;
      line-height: 27px;
    }
  }
}

@media screen and (min-height: 667px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 28px;
      line-height: 28px;
    }
  }
}

@media screen and (min-height: 736px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 31px;
      line-height: 31px;
    }
  }
}

@media screen and (min-height: 812px) {
  .sq-brandCars {
    &-category-rightbar-item {
      height: 35px;
      line-height: 35px;
    }
  }
}
